/*
font-family: 'NanumPen';
>>나눔손글씨 펜 웹 폰트


{font-family: 'SUITE', sans-serif;}
>>스위트 웹폰트

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
>>마켓산스 웹폰트

*/
/*  CSS Document  */
@charset "utf-8";




@font-face {
    font-family: '';
    src: url('GmarketSansBold.eot');
    src: url('GmarketSansBold.eot?#iefix') format('embedded-opentype'),
        url('GmarketSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('GmarketSansMedium.eot');
    src: url('GmarketSansMedium.eot?#iefix') format('embedded-opentype'),
        url('GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '';
    src: url('GmarketSansLight.eot');
    src: url('GmarketSansLight.eot?#iefix') format('embedded-opentype'),
        url('GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket Sans TTF';
    src: url('GmarketSansTTFBold.eot');
    src: url('GmarketSansTTFBold.eot?#iefix') format('embedded-opentype'),
        url('GmarketSansTTFBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket Sans TTF';
    src: url('GmarketSansTTFLight.eot');
    src: url('GmarketSansTTFLight.eot?#iefix') format('embedded-opentype'),
        url('GmarketSansTTFLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gmarket Sans TTF';
    src: url('GmarketSansTTFMedium.eot');
    src: url('GmarketSansTTFMedium.eot?#iefix') format('embedded-opentype'),
        url('GmarketSansTTFMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #666
}

img,
video {
    max-width: 100%;
}


ul,
ol {
    list-style: none;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-family: 'SUITE', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #333;
}




/*headerd:\정혜선\혜선 작업\럭키 미야우\정혜선-럭키 미야우 웹 디자인*/
#header {
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

#header_box {
    position: relative;
}

.button1>.nav>.sub_box {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: url(../images/sub_menu.png) no-repeat center top;
    height: 345px;
    display: none;
    z-index: 10;
}

/*sub*/
.sub li {
    display: block;
    text-align: center;
    padding-bottom: 5px;
}

.sub li:nth-child(1) {
    padding-top: 50px;
}

.sub li a:hover {
    color: #A7D654;
    text-decoration: underline;

}

.sub {
    display: none;
    padding: 20px 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 20;
    width: 100%;
}

.sub>li>a {
    font-size: 16px;

    color: #fff;


}






.button1>.nav {
    display: flex;

}

.button1>.nav>li {
    background-color: #209C52;
    padding: 5px 0px;
}

.button1>ul>li>a {
    color: #fff;
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
}

.button1>ul>li a:hover {
    color: #A7D654;
    transition: all 1s;
}

.button1>ul {
    padding-left: 70px;
    border-radius: 19.5px;
    padding-right: 20px;
    background-color: #209C52;
}


.nav {
    display: flex;
    justify-content: center;

}


.nav>li {
    text-align: center;
    padding: 20px 0;
    width: 165px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.nav>li>a:hover {
    color: #009223;
}





.button2 ul {
    display: flex;
}

.button2 ul li {
    padding: 10px;
}

.button2_box a {
    background-color: #209C52;
    color: #fff;
    font-weight: bold;
    padding: 9.5px 30px;
    border-radius: 19.5px;
}

.button2_box a:hover {
    color: #A7D654;
    transition: all 1s;
}









/*brand_story-------------------------------------------*/

.story_bg {
    background: url(../images/sub1_brand_story/sub1_story_bg.jpg) center top no-repeat;
    width: 100%;
    height: 1878px;
    position: relative;

}


#brand_story {
    width: 1320px;
    margin: 0 auto;
    position: absolute;
    top: 250px;
    right: 200px;

}

#brand_story p {
    padding: 170px;
    padding-left: 250px;
}


h1 {
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
    font-size: 43px;
    background: #007148;
    padding: 25px 0px 15px 40px;
    border-radius: 0 33px 33px 0;
    width: 544px;
    color: #fff;


}


#brand_story>p {
    font-size: 28px;
    line-height: 45px;
}

#brand_story>p span {
    font-size: 48px;
    line-height: 50px;
    color: #007148;
    font-weight: 900;
}





.lo_box {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(350px);
    width: 320px;
    height: 320px;
}

.story_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes circle {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.circle {
    animation: circle 6s infinite linear;
}


/*logo_box-----------------------------------*/
#logo_box {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 1002px;
    margin: 0 auto;

}

.logo p {
    font-size: 23px;
    line-height: 40px;
    padding: 80px 0;
    font-weight: 500;

}

.logo h2 {
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
    color: #007148;
    font-size: 38px;
    background: url(../images/sub1_brand_story/sub1_po.png) no-repeat 100% 0;
    padding: 20px 0;
    text-align: left;
    width: 280px;
    margin-top: 100px;
}





/*design_box--------------------------------*/
#design_box {
    background: url(../images/sub1_brand_story/design_bg.jpg) no-repeat center center fixed;
    height: 500px;
    background-size: 1920px;
    overflow: hidden;
    text-align: center;
    margin-top: 110px;
}

.besign {
    width: 1100px;
    margin: 0 auto;


}

.besign>img {
    padding-top: 110px;
    padding-bottom: 50px;
}

.besign ul {
    display: flex;
    justify-content: space-between;
}





/*font_box---------------------------------*/
#font_box {
    background-color: #007148;
    padding: 140px 0;
    width: 1920px;
    margin: 0 auto;
    text-align: center;
}









/*img_box--------------------------------------*/
#img_box {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 100px;
}

#img_box ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
}




#img_box>ul>li:nth-child(1) {
    background: url(../images/sub1_brand_story/sub1_story_c.png);
    display: block;
    width: 299px;
    height: 375px;
}

#img_box>ul>li:nth-child(2) {
    background: url(../images/sub1_brand_story/sub1_story_b.png);
    display: block;
    width: 299px;
    height: 375px;
}

#img_box>ul>li:nth-child(3) {
    background: url(../images/sub1_brand_story/sub1_story_cup.png);
    display: block;
    width: 299px;
    height: 375px;
}

#img_box>ul>li:nth-child(4) {
    background: url(../images/sub1_brand_story/sub1_story_d.png);
    display: block;
    width: 299px;
    height: 375px;
}


#img_box>ul>li:nth-child(1):hover {
    background: url(../images/sub1_brand_story/sub1_story_c11.png);
    width: 299px;
    height: 375px;
}

#img_box>ul>li:nth-child(2):hover {
    background: url(../images/sub1_brand_story/sub1_story_b22.png);
    width: 299px;
    height: 375px;
}

#img_box>ul>li:nth-child(3):hover {
    background: url(../images/sub1_brand_story/sub1_story_cup33.png);
    width: 299px;
    height: 375px;
}

#img_box>ul>li:nth-child(4):hover {
    background: url(../images/sub1_brand_story/sub1_story_d44.png);
    width: 299px;
    height: 375px;
}








/*pattern----------------------------------------*/
#pattern {
    width: 1002px;
    margin: 0 auto;
    text-align: center;
}

#pattern h2 {
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
    color: #007148;
    font-size: 38px;
    background: url(../images/sub1_brand_story/sub1_po.png) no-repeat 100% 0;
    padding: 20px 0;
    text-align: left;
    width: 280px;
    margin-top: 100px;

}






/*direction----------------------------*/
#direction {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 300px;
    padding-top: 200px;
}

#direction>h1 {
    font-family: 'Gmarket Sans TTF';
    font-weight: bold;
    font-size: 43px;
    background: #007148;
    padding: 25px 0px 15px 40px;
    border-radius: 0 33px 33px 0;
    width: 544px;
    color: #fff;

    margin-bottom: 50px;
}



/*footer----------------------------------*/

#footer {
    width: 100%;
    margin: 0 auto;
    background: url(../images/footer_bg.png) no-repeat center;
    height: 708px;
    text-align: center;
    font-size: 16px;
    color: #fff;



}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    position: relative;
}

#footer .f_ic {
    display: flex;
    padding-bottom: 70px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;

}

#footer .f_ic li {
    padding: 0 30px;
}

.f_text {
    display: flex;
    justify-content: center;
}

#footer .f_text li {
    padding: 0 15px;
}

#footer ul li span {
    font-weight: 800;
    color: #A7D654;
}

#footer ul li {
    font-weight: 800;
}

#footer p span {
    font-weight: 800;
    color: #A7D654;
}

#footer h2 {
    padding-top: 110px;
    padding-bottom: 90px;
}

#footer>p,
.f_text {
    padding-bottom: 15px;
}


/*푸터 포인트*/
.p_1 {
    position: absolute;
    top: -50px;
    left: 200px;
    animation: foo 6s infinite linear;
}

.p_2 {
    position: absolute;
    top: 0px;
    right: 160px;
    animation: foo1 2s linear infinite alternate
}

.p_3 {
    position: absolute;
    top: 350px;
    left: 10px;
    animation: foo1 2s linear infinite alternate
}

.p_4 {
    position: absolute;
    top: 350px;
    right: 40px;
    animation: foo 6s infinite linear;
}

@keyframes foo {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes foo1 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-50px);
    }
}






/*탑버튼-----------------------------*/
.bg {
    transition: all 0.5s;
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.bg:hover {
    transform: translateY(-15px);

}

.bg a {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    width: 51px;
}